{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-grid gap-2">
	<button class="btn btn-secondary text-light mt-3">{{ button_label|default('Add this plant') }}</button>
</div>
{{ form_end(form) }}
