{% extends 'base.html.twig' %}

{% block title %}Edit {{ plant_type.name|lower }} needs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-secondary my-5">Update the culture settings for this type of plants</h1>
    <div class="row">
        <div class="col-12">
    {{ include('plant_type/_form.html.twig', {'button_label': 'Update'}) }}        
        </div>
    </div>
</div>

{% endblock %}
