{% extends 'base.html.twig' %}

{% block title %}New PlantNeeds{% endblock %}

{% block body %}
    <h1>Create new PlantNeeds</h1>

    {{ include('plant_needs/_form.html.twig') }}

    {# <a href="{{ path('plant_needs_index') }}">back to list</a> #}
{% endblock %}
