{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5 main-title text-center">Welcome to Home Grown! 
    </h1>
    <h2 class="my-3 title text-center"> Touch one of your active cultures bellow to see your daily report! </h2>
        <div class="row">
        {% for culture in cultures %}
            <div class="col-12 text-center d-grid gap-2">
                <a class="btn btn-lg btn-outline-secondary my-3" href="{{ path('culture_show', {'id': culture.id}) }}">{{ culture.name }}</a>            
            </div>
        {% else %}
        Oh oh, it seems you have no active culture ! 🤦
        Let's <a href="{{ path('culture_new') }}"> start your next home culture project! </a>
        <a href="{{ path('culture_new') }}">Create new</a>
        {% endfor %}
        </div>
        <div class="row">
        <div class="col-12 my-5 text-center">
        🌞🌞🌞🌞
        </div>
        </div>
</div>
{% endblock %}
