{% extends 'base.html.twig' %}

{% block title %}New Culture{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5 text-secondary text-end">Whooo your new culture is about to start!</h1>

    {{ include('culture/_form.html.twig') }}

</div>
{% endblock %}
